body{
    background-color: aqua;
    background-image: url("images/background-map.jpg");
    color: red;
}



main {
    font-family: 'Roboto Slab', serif;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  
    p {
      text-align: center;
    }
  
   
    
      img{
          width: 200px;
          border-radius: 50px;
      }
  
      ul{
          list-style: none;
      }
      li{
          padding-bottom: 10px;
      }
      
  
      button{
          
          background-color: inherit;
          border: red 1px solid;
          padding: 5px;
          border-radius: 10px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          cursor: pointer;
      }
  
  }

   h2{
      border: 1px solid gainsboro;
      font-size: 14px;
      padding: 10px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      cursor: pointer;
    }

    main h2:hover{
        zoom: 20%;
    }

    